@model IEnumerable<Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <partial name="_CreateButtonPartial"></partial>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.company_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.current_admin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.company_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.company_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.company_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
