@model IEnumerable<FinalYearProject.Models.ViewModels.ViewSurveyQuestionVM>

@{
    ViewData["Title"] = "View Survey Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <h1>Survey ID: @Html.DisplayFor(modelItem => item.survey_id)</h1>
}


<table class="table" id="ShowQuestionSection" style="display:inline-table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.question.question_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.question.question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var questionType in Model.SelectMany(vm => vm.questionSetType.Select(q => q.questionType)).Distinct())
        {
            <tr>
                <th colspan="4">@questionType.questionType_name</th>
            </tr>
           
            @foreach (var question in Model.SelectMany(vm => vm.questionSet.Where(q => q.questionType_id == questionType.questionType_id)))
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => question.question_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => question.question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => question.questionType.questionType_name)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.First().survey_id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" asp-area="Admin" asp-controller="SurveyManage" class="btn btn-secondary">Back to List</a>  
</form>