@model IEnumerable<FinalYearProject.Models.Incentives>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Company KPI</h2>
    </div>
    <div class="col-6 text-right">
        @if (Model.Count() < 1)

        {
            <p>
                <a asp-action="Create" class="btn btn-info">Create New</a>
            </p>
        }
    </div>
</div>

@*@if (Model.Count() < 1)

{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}*@

<table class="table table-striped border">
    <tr class="table-secondary">
            <th>
                Good rating incentives
               @* @Html.DisplayNameFor(model => model.good_rating_incentives)*@
            </th>
            <th>
                Attendance award
               @* @Html.DisplayNameFor(model => model.attendance_Excellence_Award)*@
            </th>
            <th></th>
        </tr>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.good_rating_incentives)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.attendance_Excellence_Award)
            </td>
            <td>               
                <div class="btn-group" role="group">
                    <a class="btn btn-primary text-white" asp-action="Details" asp-route-Id="@item.incentives_id">
                        <i class="fas fa-list-alt"></i>
                    </a>
                    <a class="btn btn-success text-white" asp-action="Edit" asp-route-Id="@item.incentives_id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.incentives_id">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>
        </tr>
}
</table>
