@model IEnumerable<FinalYearProject.Models.EmployeeClaim>

@{
    ViewData["Title"] = "Claim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Claim</h1>

    <table class="table table-bordered table-hover mt-3 text-center align-middle">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.claim_id)</th>
                <th>@Html.DisplayNameFor(model => model.staff_id)</th>
                <th>@Html.DisplayNameFor(model => model.approval_status)</th>
                <th>@Html.DisplayNameFor(model => model.date_apply)</th>
                <th>@Html.DisplayNameFor(model => model.claimAmount)</th>
                <th>@Html.DisplayNameFor(model => model.claim_reason)</th>
                <th>@Html.DisplayNameFor(model => model.claimFile)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.claim_id)</td>
                    <td>@Html.DisplayFor(modelItem => item.staff_id)</td>
                    <td>@Html.DisplayFor(modelItem => item.approval_status)</td>
                    <td>@Html.DisplayFor(modelItem => item.date_apply)</td>
                    <td>@Html.DisplayFor(modelItem => item.claimAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.claim_reason)</td>
                    <td>@Html.DisplayFor(modelItem => item.claimFile)</td>
                    <td>
                        <a asp-action="Decide" asp-route-id="@item.claim_id" class="btn btn-primary">Decide</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="..." crossorigin="anonymous">
