@model IEnumerable<FinalYearProject.Models.TrainingProgress>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Training Progress</h1>

<p>
    <a asp-action="AssignEmployee">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.staff_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.training_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.completion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration_left)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.staff_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.training_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.completion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration_left)
                </td>

            </tr>
        }
    </tbody>
</table>
