@model IEnumerable<FinalYearProject.Models.CompanyKPI>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-6">
        <h2 class="text-info">Company KPI</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">Create New</a>
    </div>
</div>
<table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.target_name)
            </th>
            <th>
                Company ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.target_KPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hit_KPI_allowance)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_date)
            </th>
            <th>

            </th>
        </tr>
   
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.target_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.target_KPI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hit_KPI_allowance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.KPI_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KPI_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KPI_id">Delete</a>*@

                <div class="btn-group" role="group">
                    <a class="btn btn-primary text-white" asp-action="Details" asp-route-Id="@item.KPI_id">
                        <i class="fas fa-list-alt"></i>
                    </a>
                    <a class="btn btn-success text-white" asp-action="Edit" asp-route-Id="@item.KPI_id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.KPI_id">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>
        </tr>
}
</table>
