@model FinalYearProject.Models.ViewModels.EmployeeDocumentVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Create</h2>

<h4>Document</h4>

<hr />

<h6 style="color: darkred">@ViewBag.message</h6>

<div class="row">
    <form method="post" asp-action="Create" enctype="multipart/form-data"> 
        <div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="employee_id" />
            <input type="hidden" asp-for="document.owner_id" />

            <div class="form-group row">
                <label asp-for="document.document_id" class="col-form-label"></label>
                <input asp-for="document.document_id" class="form-control" />
                <span asp-validation-for="document.document_id" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="document.document_name" class="col-form-label"></label>
                <input asp-for="document.document_name" class="form-control" />
                <span asp-validation-for="document.document_name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.document.expiry_date" class="col-form-label"></label>
                <input asp-for="@Model.document.expiry_date" class="form-control" />
                <span asp-validation-for="@Model.document.expiry_date" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.document.notify_date" class="col-form-label"></label>
                <input asp-for="@Model.document.notify_date" class="form-control" />
                <span asp-validation-for="@Model.document.notify_date" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.document.document_path" class="col-form-label"></label>
                <input type="file" name="file" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" asp-route-id="@Model" class="btn btn-info form-control" value="Create" />
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

