@model IEnumerable<FinalYearProject.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.admin_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin_pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_superadmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.admin_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin_pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_superadmin)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.admin_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
