@model FinalYearProject.Models.CompanyKPI

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompanyKPI</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.target_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.target_name)
        </dd>
        <dt class = "col-sm-2">
            Company ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.company_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.target_KPI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.target_KPI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hit_KPI_allowance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hit_KPI_allowance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a> |
    <a asp-action="Edit" asp-route-id="@Model?.KPI_id"  class="btn btn-success">Edit</a>
</div>
