@model FinalYearProject.Models.ViewModels.EmployeeTaskListVM

@{
    ViewData["Title"] = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Task</h1>

    <table class="table table-bordered table-hover mt-3 text-center align-middle">
        <thead class="thead-dark">
            <tr>
                <th>Task ID</th>
                <th>Task Title</th>
                <th>Duration (Days)</th>
                <th>Date Uploaded</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TaskCreated)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.emtask_id)</td>
                    <td>@Html.DisplayFor(modelItem => item.emtask_title)</td>
                    <td>@Html.DisplayFor(modelItem => item.emtask_duration)</td>
                    <td>@Html.DisplayFor(modelItem => item.date_upload)</td>
                    <td>
                        <a asp-action="Submit" asp-route-id="@item.emtask_id" class="btn btn-primary">Submit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="..." crossorigin="anonymous">
