@model IEnumerable<FinalYearProject.Models.ViewModels.CreateQuestionVM>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Question</h1>

<h4>Question</h4>
<hr />
@if (ViewData["ErrorMessageForQuestionType"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessageForQuestionType"]
    </div>
}
@if (ViewData["ErrorMessageForQuestion"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessageForQuestion"]
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @foreach (var qt in Model)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@qt.question.question_id" class="control-label"></label>
                    <input asp-for="@qt.question.question_id" class="form-control" readonly />
                    <span asp-validation-for="@qt.question.question_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@qt.question.question" class="control-label"></label>
                    <input asp-for="@qt.question.question" class="form-control" required/>
                    <span asp-validation-for="@qt.question.question" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @for (int i = 0; i < qt.questionTypeSet.Count(); i++)
                    {
                        <label>
                            <input type="radio" name="questionTypeID" value="@qt.questionTypeSet[i].questionType_id" />
                            <input type="hidden" name="questionTypeName" value="@qt.questionTypeSet[i].questionType_id" />
                            @Html.DisplayFor(modelItem => qt.questionTypeSet[i].questionType_name)
                        </label>
                        <br />
                    }
                    <span asp-validation-for="@qt.questionTypeSet" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" /> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>

    </div>
</div>

