@model FinalYearProject.Models.ViewModels.RolePermissionVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Role.date_created" type="hidden" />
            <div class="form-group">
                <label asp-for="Role.role_id" class="control-label"></label>
                <input asp-for="Role.role_id" class="form-control" readonly />
                <span asp-validation-for="Role.role_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role.role_name" class="control-label"></label>
                <input asp-for="Role.role_name" class="form-control" />
                <span asp-validation-for="Role.role_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role.company_id" class="control-label"></label>
                <select asp-for="Role.company_id" class="form-control" asp-items="ViewBag.company_id"></select>
            </div>
            <hr />
            <h5>Permissions</h5>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="employeeView" /> @Html.DisplayNameFor(model => model.employeeView)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="employeeRegister" /> @Html.DisplayNameFor(model => model.employeeRegister)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="employeeManage" /> @Html.DisplayNameFor(model => model.employeeManage)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="roleManage" /> @Html.DisplayNameFor(model => model.roleManage)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="shiftManage" /> @Html.DisplayNameFor(model => model.shiftManage)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="trainingManage" /> @Html.DisplayNameFor(model => model.trainingManage)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="payrateManage" /> @Html.DisplayNameFor(model => model.payrateManage)
                </label>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

