@model FinalYearProject.Models.ViewModels.EmployeeDocumentListVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.owner.employee_id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.displayDocument.document_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.displayDocument.date_created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.displayDocument.expiry_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.displayDocument.notify_date)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.documentsOwned) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.document_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expiry_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notify_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.document_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.document_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.document_id">Delete</a>
            </td>
            <td>
                <a asp-action="Download" asp-route-id="@item.document_id">Download</a>
            </td>
        </tr>
    }   
    </tbody>
</table>
