@model FinalYearProject.Models.SalaryAdvance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalaryAdvance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDetails.employee_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time_to_payback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_to_payback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.request_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.request_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedEmployeeDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedEmployeeDetails.employee_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.advance_id">Edit</a> |
    <a asp-action="Index"class="btn btn-secondary">Back to List</a>
</div>
