@model IEnumerable<Survey>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Survey List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial"></partial>
            <a asp-action="Index" asp-controller="Question" class="btn btn-info">Question List</a>           
        </div>
    </div>

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["ErrorMessage"]
        </div>
    }
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.survey_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.company_id)
                    </th>  
                    <th>
                        @Html.DisplayNameFor(m => m.survey_name)
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.survey_id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.company_id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.survey_name)

                        </td>
                        <td>
                            <partial name="_ViewEditDeletePartial" model="@item.survey_id"></partial>
                        </td>

                    </tr>
                }
            </table>
        }
        else
        {
            <p>There are no Survey.</p>
        }
    </div>
</div>