@model IEnumerable<FinalYearProject.Models.Leave>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.approval_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedByEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leave_start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leave_end)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leave_reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.response_message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doc_filepath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeDetails.employee_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approval_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByEmployee.employee_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leave_start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leave_end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leave_reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.response_message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doc_filepath)
            </td>
            <td>
                <a asp-action="Decide" asp-route-id="@item.leave_id">Decide</a> |
            </td>
        </tr>
}
    </tbody>
</table>
