@model IEnumerable<FinalYearProject.Models.Payrate>

@{
    ViewData["Title"] = "Views";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payrate</h1>

<p>
    <a asp-action = "CreatePayrate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.payrate_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payrate_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payrate_ratePerHour)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.payrate_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.payrate_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.payrate_ratePerHour)
                </td>

                <td>
                    <a asp-action="EditPayrate" asp-route-id="@item.payrate_id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
